.header {
    display: flex;
    align-items: center;
}
.header > a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo {
    width: 50px;
}
.title-group {
    display: flex;
    align-items: center;
    padding-left: 25px;
}
.title-group > a {
    padding-right: 5px;
}